
<!-- Writing inline style until I figure out were to put elsewhere-->

<!-- vertical white space -->
<section style="height:50px">
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="row">
				<h1> Level: <%= exercise.level %></h1>
			</div>

			<!-- Vertical space -->
			<div class="row" style="height:30px">
			</div>

			<!-- Exercise part -->
			<div class="col-xs-4" style="background:white;height:500px;">
				<h1> <%= exercise.title %> </h1>
				<p> <%= exercise.instructions %> </p>
				<p> "<%= exercise.id %>" </p>
			</div>
			<div class="col-xs-8" style="background:grey;height:500px;padding:0px;">
				<form id="submitExercise">
					<input name="id" value="<%= exercise.id %>"> 
					<textarea name="code" class="form-control" style="height:100%;background:grey;"></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</section>