<div class="panel small-container">
  
  <h1 class="text-center"><%= edit ? "Edit" : "Create an" %> Exercise</h1>
  
  <form id="exerciseEditor" action="/admin/saveExercise<%= edit ? '?id=' + exercise.id : ''%>" method="post">

    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" placeholder="Title" name="title" value="<% if (edit) { %><%= exercise.title %><% } %>">
    </div>

    <div class="form-group">
      <label>Instructions (supports html formatting)</label>
      <textarea class="form-control" rows="5" placeholder="Instructions" name="instructions"><% if (edit) { %><%= exercise.instructions %><% } %></textarea>
    </div>

    <div class="form-group">
      <label>Expected</label>
      <textarea class="form-control" rows="5" placeholder="Expected" name="expected"><% if (edit) { %><%= exercise.expected %><% } %></textarea>
    </div>

    <div class="form-group">
      <label>Additional Code</label>
      <textarea class="form-control" rows="5" placeholder="Additional code" name="additionalCode"><% if (edit) { %><%= exercise.additionalCode %><% } %></textarea>
    </div>

    <div class="form-group">
      <label>Level</label>
      <input type="text" class="form-control" placeholder="Level" name="level" value="<% if (edit) { %><%= exercise.level %><% } %>">
    </div>

    <div class="form-group">
      <label>Tutorial</label>
      <select class="form-control" form="exerciseEditor" name="tutorialId">
        <% _.each(tutorials, function(tutorial) { %>
        <option value="<%= tutorial.id %>" <% if (edit && tutorial.id == exercise.tutorialId) { %><%= 'selected' %><% } %>><%= tutorial.title %></option>
        <% }) %>
      </select>
    </div>

    <div class="form-group">
      <input class="btn btn-primary btn-lg btn-block" value="Save" type="submit"/>
    </div>
  </form>
</div>
